
.inputfield{
    padding: 0.6rem
}
.input{
    width: 65%;
    padding:0.3rem;
    margin-top: -.5rem;
    /* border: none;
    border-bottom: 1px solid #b6b1b1; */
}
.inputname{
    width: 32%;
    margin-left: 2px;
    padding:0.3rem;
    /* border: none;
    border-bottom: 1px solid #b6b1b1; */
}
.contactform{
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 1.2rem;
}
.btn{
    background-color: purple;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: none;
    margin-top: 1rem;
    margin-left: 5rem;
}
label{
    width: 30%;
    float: left;
    text-align: right;
    margin-right:5px;    
}
form{
  margin:1.5rem 0;
  padding: 0.5rem;
    width: 400px;
    background-color: #fff;
    color: purple;
    border-radius: 15px;
    border: none;  
}
.center{
  padding: 2rem;
  text-align: center;
}
textarea#editor{padding:5px}