/* @import url('https://fonts.google.com/specimen/Poppins'); */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --sedan: #E28525;
    --suv: #016972;
    --luxury: #00403F;
}
.flex-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Poppins';
}
.flex-container >div{   
    border: none;
    padding: 1.7rem;
    font-size: 1.1rem;
    height: 65vh;
    width: 20vw;
    line-height: 1.4;
    
}
.flex-container h1{
    margin: 1.5rem 0;
    font-size: 1rem;
    /* letter-spacing: .2px; */
    /* font-weight: 100; */
    transform: scaleY(3);
}
.btn{
    background-color: #fff;
    color: inherit;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: none;
    margin-top: 3rem;
}
.sedans .btn{
    color: var(--sedan)
}
.suvs .btn{
    color: var(--suv)
}
.luxury .btn{
    color: var(--luxury);
}
.sedans{
    background-color: var(--sedan);
    border-radius: 5px 0 0  5px;
}
.suvs{
    background-color: var(--suv);
}
.luxury{
    background-color: var(--luxury);
    border-radius:  0 5px 5px 0;
}

/* grid layout */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vw;
}
.grid{
    display: grid;
    height: 50vh;
    width: 40vw;
    grid-gap: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 12vh;
}
.red{
    background-color: red;
     grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; 
}
.yellow{
    background-color: yellow;    
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.green{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.blue1{
    background-color: blue;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4; 
}
.blue2{
    background-color: blue;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* responsiveness  tablet*/
@media (max-width: 768px){
    .flex-container >div{
        line-height: 1.3;
        font-size: 10px;
        padding: 1rem;
        height: 56vh;
    }
    .btn{
        margin-top: 3rem;
        padding: 0.5rem 1rem;
        font-size: 10px;
    }
    .flex-container h1{
        transform: scaleY(2);
    }
    
}
 
/* responsiveness  phone*/
@media (max-width: 375px){
    .flex-container >div{
        /* line-height: 1; */
        font-size: 0.65rem;
        padding: 1rem 0.6rem;
        width: 32vw;
        height: 45vh;
        line-height: 1.1;
    }
    .btn{
        margin-top: 2rem;
        padding: 0.3rem .6rem;
        font-size: 10px;
    }
    .flex-container h1{
        margin: 1rem 0;
        font-size: 0.8rem;
        transform: scaleY(2);
    }
    .icon img{
        width: 50%;
    }

    /* grid layout */
    .container{        
        width: 100vw;
        height: 100vw;
    }
    .grid{
        display: grid;
        height: 20vh;
        width: 40vw;
        gap: 5px;        
        grid-auto-rows: 4vh;
    }
}